// Styling for the events section
#events {
  .container-fluid {
    max-width: 1920px;
    .events-box {
      img{
        filter: grayscale(20%);
      }
      position: relative;
      display: block;
      .events-box-caption {
        font-family: $font-family-sans-serif;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: 100%;

        position: absolute;
        bottom: 0;

        text-align: center;
        opacity: 0;

        color: $white;
        background: fade-out($primary, .1);
        transition: opacity 0.25s ease;
        text-align: center;
        .project-category {
          font-size: 0.85rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        .project-name {
          font-size: 1.2rem;
          text-transform: uppercase;
        }
      }
      &:hover {
        .events-box-caption {
          opacity: 1;
        }
      }
    }
  }
}

// /* Slider */
.slick-slide {
	img {
		width: 100%;
    display: block;
    filter: grayscale(20%);
	}
}


//ZOE//

  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-height: 360px;
    width: 100%;
    // background: $primary;
    text-align: center;
    cursor: pointer;

    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.8;
    }

    figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      &::before, &::after {
        pointer-events: none;
      }

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }

    h3 {
      word-spacing: -0.15em;
      font-weight: 200;
      font-size: 1.5rem;

      span {
        font-weight: 800;
      }
    }
    @include media-breakpoint-up(lg) {
      h3 {
        font-size: 2rem;
  
        span {
          ///
        }
      }
  }
  }
  figure.effect-lily {
    img {
      max-width: none;
      width: -webkit-calc(100% + 50px);
      width: calc(100% + 50px);
      opacity: 0.7;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-40px, 0, 0);
      transform: translate3d(-40px, 0, 0);
      filter: grayscale(20%);
    }
  
    figcaption {
      text-align: left;
  
      > div {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2em;
        width: 100%;
        height: 50%;
      }
    }
  
    h3, p {
      -webkit-transform: translate3d(0, 40px, 0);
      transform: translate3d(0, 40px, 0);
    }
  
    h3 {
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
    }
  
    p {
      color: rgba(255, 255, 255, 0.8);
      opacity: 0;
      -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
      transition: opacity 0.2s, transform 0.35s;
    }
  
    &:hover {
      img, p {
        opacity: 1;
      }
      img{
        filter: grayscale(60%) brightness(30%);
      }
  
      img, h3 {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
  
      p {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        -webkit-transition-duration: 0.35s;
        transition-duration: 0.35s;
      }
    }
  }
  