// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  h1 {
    font-size: 2.5rem;
    font-family: 'Playfair Display';
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 4rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 6rem;
    }
  }
}
#masthead-main{
  background: linear-gradient(to bottom, #{fade-out($black, .2)} 0%,#{fade-out($black, .2)} 100%), url('../img/masthead/masthead-2-small.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  @include media-breakpoint-up(lg) {
    background: linear-gradient(to bottom, #{fade-out($black, .2)} 0%,#{fade-out($black, .2)} 100%), url('../img/masthead/masthead-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

#masthead-IS{
  background: linear-gradient(to bottom, #{fade-out($black, .2)} 0%,#{fade-out($black, .2)} 100%), url('../img/masthead/masthead-IS.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

